.screenContainer {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    background-color: #181e25;
    border-left: 1px solid white;
    border-top: 1px solid white;
    /* border-top-left-radius: 10px; */
}

.choose {
    font-size: 20px;
    color: white;
    cursor: default;
    user-select: none;
    padding: 5px 20px;
    background-color: #3f4955;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
}
