.screenContainer {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.choose {
    font-size: 20px;
    cursor: default;
    user-select: none;
    padding: 10px 30px;
    border-radius: 60px;
    box-shadow: 0 2px 4px var(--bs-gray-dark);
    background-color: white;
}
