.main {
    display: flex;
    flex-grow: 1;
    min-width: 800px;
}

.createForm {
    width: 360px;
    height: 600px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #e3e5e8;
    z-index: 6;
}

.formBackground {
    position: absolute;
    background: #000;
    opacity: 0.6;
    z-index: 5;
    height: 100vh;
    width: 100vw;
}

.createFormInput {

}