.chat {
    min-height: 60px;
    width: 100%;
    display: flex;

    padding: 5px;
    border-radius: 0 10px 10px 0;

    background-color: var(--bs-gray-100);
    box-shadow: inset 0 -4px 4px -4px var(--bs-gray-dark);
}

.chat:hover {
    cursor: pointer;
    background-color: var(--bs-gray-200);
}

.userIcon {
    width: 50px;
    height: 50px;

    background-color: white;
    border-radius: 50%;
    border: 1px solid var(--bs-dark);
}

.chatContent {
    height: 50px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;

    margin-left: 10px;
}

.chatHeader {
    display: flex;
    justify-content: space-between;
}

.chatTime {
    width: 30px;
    font-size: 12px;
}

.chatName {
    max-width: 250px;
    font-size: 16px;
    font-weight: bold;
}

.textMessage {
    max-width: 250px;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
