.overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.modalWindow {
    position: absolute;
    height: min-content;
    max-height: 500px;
    width: 500px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 6px 2px black;
    background-color: white;
}

.title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 390px;
    overflow-y: auto;
}

.container::-webkit-scrollbar {
    display: none;
}

.btnClose {
    height: 40px;
    border: none;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 black;
    background: transparent;
    font-weight: 500;
}

.btnClose:hover {
    box-shadow: 0 0 6px 0 black;
}

.btnCloseWrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
