.message {
    display: flex;
    padding: 5px 10px;
}

.localMessage {
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px;
}

.messageText {
    color: black;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    max-width: 50vw;
    padding: 5px 10px;
    word-break: break-word;
    background: #FFFFFF;
    border-radius: 10px;
}
