.message {
    display: flex;
    padding: 5px 10px;
}

.messageText {
    max-width: 50vw;

    font-size: 14px;
    padding: 5px 10px;
    border-radius: 10px;
    word-wrap: break-word;
    background-color: white;
}
