.message {
    display: flex;
    padding: 5px 10px;
}

.messageText {
    max-width: 50vw;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    word-wrap: break-word;
    color: white;
    background-color: #6c757d;
}
