.videosContainer {
    max-height: calc(100vh - 80px);
    padding: 10px;
    display: flex;
    flex-grow: 1;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    /* background-color: darkcyan; */
    /* overflow: hidden; */
}

.video {
    max-height: 400px;
    max-width: 400px;
    flex-grow: 1;
    border-radius: 25px;
    /* background-color: brown; */
}
