.sendMessageForm {
    height: 50px;
    display: flex;

    padding: 10px;
    background-color: transparent;
}

.inputMessage {
    flex-grow: 1;
    margin-right: auto;
    padding: 0;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.btnSendMessage {
    height: 30px;
    width: 30px;

    margin-left: 10px;
    border: none;
    border-radius: 50%;

    background-color: white;
}
